body {
  margin: 0;
  padding: 0;

  background-color: #2F2E41;

  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

a, h1, footer p {
  font-family: "JetBrains Mono", monospace;
  color: #FFF;
}

span {
  color: #00BFA6;
}

.page {
  width: 1100px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 71px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #00BFA6;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 100px;
}

main div {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 600px;

  text-align: center;
}

main p {
  color: #C2C2C2;
  font-size: 16px;
}

main h1 {
  margin: 0;
}

footer {
  width: fit-content;
  margin: 100px auto 0;
  padding: 0 40px;

  border-top: 1px solid #00BFA6;
}

#padlock {
  position: fixed;

  bottom: 20px;
  left: 20px;
}